extends ../layout
block content
    form(method="post")
        .mb-3 
            label.form-label Nom du dossier
            input.form-control(type="text" name="folder_name")
            label.form-label Nom du dossier parent
            input.form-control(type="text" name="parent_name")
            //- input(type="hidden" name="_csrf" value=token)
        button.btn.btn-primary.w-100(type="submit") VALIDER